{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="fw-bold">ECE Yearbook, Batch of 2024</h1>
        <div class="container text-center mt-4">
            <p class="fs-2">Registered users: {{ users_count }}</p>
            {% if user.is_authenticated %}
                <p class="fs-3"><a href="{% url 'profiles_home' %}">Profiles</a></p>
            {% else %}
                <p class="fs-3"><a href="{% url 'signup' %}">Signup</a></p>
                <p class="fs-3"><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
