{% extends 'base.html' %}

{% block title %}
    Your Profile
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-4"><u>Your Profile</u></h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <form method="POST" class="mt-4 p-4 rounded shadow mb-4">
            {% csrf_token %}
            <table class="table table-borderless">
                {% for field in form %}
                    <tr>
                        <td>
                            {{ field.label_tag }}
                        </td>
                        <td>
                            {{ field }}
                        </td>
                        <td>
                            {% if field.help_text %}
                            <small class="text-secondary">{{ field.help_text }}</small>
                            {% endif %}
                        </td>
                    </tr>
                    {% for error in field.errors %}
                        <tr>
                            <td>
                                <p class="text-danger"> {{ error }} </p>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary p-2 rounded">Update</button>
        </form>
    </div>
</div>
{% endblock %}