{% extends 'base.html' %}

{% block title %}
Profile Home
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="fw-bold">Welcome to Profiles home!</h1>
</div>


<div class="container mt-4">
    <h3>Available Profiles:</h3>
    <ul class="list-group d-inline-block mt-2">
        {% for p in profiles %}
            <a href="{% url 'profile_detail' pk=p.pk %}" class="list-group-item list-group-item-actionable">
                {{ p.name }}
            </a>
        {% endfor %}
    </ul>


</div>
{% endblock %}