{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Sign up</h1>
    <form method="POST" class="mt-4 p-4 border border-primary rounded shadow mb-4">
        {% csrf_token %}
        <table class="table table-borderless">
            {% for field in form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                    <td>
                        {% if field.help_text %}
                        <small class="text-secondary">{{ field.help_text }}</small>
                        {% endif %}
                    </td>
                    {% for error in field.errors %}
                        <td>
                            <p class="text-danger"> {{ error }} </p>
                        </td>
                        
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}