<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Batch of 2024, NITK</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="bg-blue-500 text-white p-6">
        <h1 class="text-xl font-bold">Batch of 2024, NITK</h1>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>